// colores
$dark-green-title:red;
$dark-green-text:#135359;
$white:#9c5a5a;

// fuentes
$font-title:"Alegreya", serif;

// herencia en sass
%base-title{

  font-family: $font-title;
  color:$dark-green-text;
  display: flex;
  font-size: 30px;
}
